h1{
    text-align: center;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

.itvh{
    position: absolute;
    top: 20px;
    left: 50px;
}
.tec{
    position: absolute;
    top: 20px;
    right: 300px;;
}

table{
    width: 100%;
    border: 1px solid #000;
 }
 th, td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.3em;
    caption-side: bottom;
 }
 caption {
    padding: 0.3em;
 }
